.OptionsPanel {
  display: flex;
  flex-direction: row;
  padding-left: 8px;
  padding-bottom: 8px;
}

.OptionsPanel > * {
  margin-right: 8px;
}

.QueryBox {
  min-width: 640px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.QueryBox > *:first-child {
  margin-right: 8px;
  flex-grow: 1;
}

.QueryBox > *:last-child {
  flex-grow: 0;
}

.Top {
  width: 100%;
}