/*************************************************
 * TYPOGRAPHY
 *************************************************/

/*@import url("https://fonts.googleapis.com/css?family=Open+Sans");*/

/* Material UI: Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic-ext');
/* Material UI: Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*************************************************
 * RESET & NORMALIZE
 *************************************************/

@import "_reset.css";

/*************************************************
 * VARIABLES
 *************************************************/

/*@import "_mui-colors.css";*/
@import "_mui-theme.css";

/*************************************************
 * BASE
 *************************************************/

a,
a:hover,
a:visited,
a:link {
  color: inherit;
  text-decoration: none;
}

b,
strong {
  font-weight: 500;
}

html,
body,
.react-root {
  height: 100%; /*100vh*/
}

body {
  font-size: 14px;
  /*line-height: 20px;*/
  /*text-rendering: optimizeLegibility;*/
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

i {
  font-style: initial;
}


.dropzone {
  width: 100%;
  background-color: rgb(241, 243, 244);
  cursor: pointer;
}
.dropzone:hover * {
  /*color: var(--palette-text-secondary) !important;*/
}
.dropzone:hover {
  background-color: var(--palette-action-hover);
}

.dropzone-active {
  background-color: inherit;
}
