/*************************************************
 * TYPOGRAPHY
 *************************************************/

/*@import url("https://fonts.googleapis.com/css?family=Open+Sans");*/

/*************************************************
 * RESET & NORMALIZE
 *************************************************/

@import "_reset.css";
@import "SignInBox.css";
@import "App.css";

/*************************************************
 * VARIABLES
 *************************************************/

/*************************************************
 * BASE
 *************************************************/

a,
a:hover,
a:visited,
a:link {
  color: inherit;
  text-decoration: none;
}

b,
strong {
  font-weight: 500;
}

html,
body,
.react-root {
  height: 100%; /*100vh*/
}

body {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

i {
  font-style: initial;
}

.dropzone {
  width: 100%;
  background-color: rgb(241, 243, 244);
  cursor: pointer;
}

.dropzone:hover {
  background-color: var(--palette-action-hover);
}

.dropzone-active {
  background-color: inherit;
}
