/*************************************************
 * TYPOGRAPHY
 *************************************************/

/*@import url("https://fonts.googleapis.com/css?family=Open+Sans");*/

/*************************************************
 * RESET & NORMALIZE
 *************************************************/

@import "_reset.css";
@import "SignInBox.css";
@import "App.css";
@import "View.css";
@import "DlgView.css";
@import "../app/scenes/ermodel2/ERModelBox.css";

/*************************************************
 * VARIABLES
 *************************************************/

/*************************************************
 * BASE
 *************************************************/

a,
a:hover,
a:visited,
a:link {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 14px;
  font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

code, pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.flex {
  display: flex;
  flex-flow: column wrap;
}

:global .row-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

