.ViewOneColumn {
  max-width: 860px;
  margin: 16px auto;
}

.ViewCaption {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 4px;
  color: #404040;
}

.ViewBody {
  border: 1px solid silver;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /*height: 80vh;*/
}

.ViewBody > * {
  margin-bottom: 8px;
}

.ViewWide {
  width: 100%;
  height: 100%;
}

.ViewHeader {
  width: 100%;
}

.ViewData {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.ViewGridPlacement {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.DangerZone {
  border: 1px solid red;
  border-radius: 8px;
  margin-top: 16px;
  padding: 16px;
}

.DangerZone > div {
  margin-bottom: 16px;
}

.GridFilter{
  padding: 8px;
  width: 250px;
}
