{
  "dbDetails": [
    {
      "alias": "test",
      "driver": "firebird",
      "connectionOptions": {
        "server": {
          "host": "localhost",
          "port": 3050
        },
        "username": "SYSDBA",
        "password": "masterkey",
        "path": "..."
      }
    }
  ]
}
