
.WorkArea {
  width: 100%;
  min-height: calc(100% - 46px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 0px;
  padding-right: 0px;
}

.GridArea {
  width: 90vh;
  height: 90vh;
  flex: 1 1 auto;
}
