.root {
  position: relative;
  display: inline-block;
}
.root.full-width {
  display: block;
}

/*.input-button-icon {*/
  /*//width: 24px;*/
  /*//height: 24px;*/
  /*opacity: 0.54;*/
/*}*/

/*.input-button-icon.unchecked {*/
  /*opacity: 0.38;*/
/*}*/
