.NLPDialogArea {
  display: flex;
  flex-direction: row;
}

.NLPDialogColumn {
  width: 340px;
  height: 93vh;
}

.NLPDialogResultColumn {
  height: 93vh;
  width: calc(100vw - 360px);
  display: flex;
  flex-direction: column;
}