.SyntaxBoxInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.SyntaxBoxInput > *:first-child {
  flex: 1;
  padding-right: 12px;
}

.SyntaxBoxInput > :not(:first-child) {
  width: 120px;
  margin-left: 4px;
}

.SyntaxTokens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.SyntaxTokens > div {
  display: flex;
  flex-direction: column;
  margin-right: 4px;
  margin-bottom: 4px;
}

.SyntaxTokens > div > div:first-child {
  border: 1px solid gray;
  margin-bottom: 4px;
}

.SyntaxTokens > div > div {
  border: 1px dotted gray;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 2px;
}

.TokenWhiteSpace {
  background-color: aquamarine;
}

.TokenCyrillicWord {
  background-color: darksalmon;
}

.TokenComma {
  background-color: blue;
  color: white;
}

.TokenNumeric {
  background-color: coral;
  color: white;
}

.TokenDateToken {
  background-color: gray;
  color: white;
}

.TokenPunctuationMark {
  background-color: rebeccapurple;
  color: white;
}

.TokenidEntityToken {
  background-color: orchid;
}

.SyntaxCoombinations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.SyntaxCoombinations > div {
  margin-right: 8px;
  margin-bottom: 8px;
}

.SyntaxCoombinations > div > div:first-child {
  color: white;
  border-radius: 4px;
  border: none;
}

.SyntaxCoombinations > div > div {
  padding-left: 6px;
  padding-bottom: 4px;
  padding-top: 2px;
  padding-right: 6px;
  border-radius: 4px;
  border: 1px solid gray;
  margin-bottom: 2px;
}

.SyntaxCoombinations sup > span {
  padding-left: 4px;
}

.VERBColor {
  background-color: blueviolet;
}

.ADJFColor {
  background-color: brown;
}

.NUMRColor {
  background-color: midnightblue;
}

.NumeColor {
  background-color: brown;
}

.NOUNColor {
  background-color: darkolivegreen;
}

.PREPColor {
  background-color: hotpink;
}

.CONJColor {
  background-color: aqua;
}

.ADVBColor {
  background-color: red;
}

.DateColor {
  background-color: grey;
}

.DefiColor {
  background-color: seagreen;
  color: white;
}

.ACTIVEColor {
  background-color: lightskyblue;
}

.idEnColor {
  background-color: chocolate;
}

.SyntaxError {
  color: red;
  font-style: italic;
}

.ParserDebug {
  display: flex;
  flex-direction: column;
}

.ParserDebug > div {
  margin-bottom: 8px;
  border: 1px solid gray;
  border-radius: 4px;
}

.ParserDebug > div > div:first-child {
  background-color: silver;
}

.ParserDebug > div > div:nth-child(2) {
  padding-top: 12px;
}

.ParserDebug > div > div {
  padding: 4px;
}

.DebugWordSignatures {
  display: flex;
  flex-direction: row;
}

.DebugWordSignatures > div {
  border: 1px solid dimgray;
  border-radius: 4px;
  padding: 4px;
  margin-right: 8px;
  background-color: lightcoral;
}

.command {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 12px;
}

.command > * {
  margin-right: 8px;
}

.commandAction {
  display: flex;
  flex-direction: column;
}

.commandAction > * {
  margin-bottom: 8px;
}

.actionQUERY {
  background-color: rgb(152, 248, 181);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.actionQUERY::after {
  content: "QUERY";
}

.actionDELETE {
  background-color: rgb(226, 81, 65);
  padding: 2px 6px 2px 6px;
  border: 1px solid maroon;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.actionDELETE::after {
  content: "DELETE";
}

.payload {
  background-color: bisque;
  padding: 8px;
  border: 1px solid coral;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.payload > * {
  margin-right: 8px;
}

.entityName {
  background-color: aquamarine;
  padding: 2px 6px 2px 6px;
  border: 1px solid navy;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.fields {
  background-color: forestgreen;
  padding: 8px;
  border: 1px solid fuchsia;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.fields > * {
  margin-bottom: 8px;
}

.field {
  background-color: rgb(152, 248, 181);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.options {
  background-color: darkgoldenrod;
  padding: 8px;
  border: 1px solid darkred;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.options > * {
  margin-right: 8px;
}

.attr {
  background-color: rgb(152, 248, 181);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.allOrs {
  background-color: rgb(179, 88, 163);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.allOrs > * {
  margin-bottom: 8px;
}

.or {
  display: flex;
  flex-direction: row;
}

.or > * {
  margin-right: 8px;
}

.allAnds {
  background-color: rgb(5, 100, 67);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.allAnds > * {
  margin-bottom: 8px;
}

.and {
  display: flex;
  flex-direction: row;
}

.and > * {
  margin-right: 8px;
}

.allNots {
  background-color: rgb(173, 78, 71);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.allNots > * {
  margin-bottom: 8px;
}

.not {
  display: flex;
  flex-direction: row;
}

.not > * {
  margin-right: 8px;
}

.allisNulls {
  background-color: rgb(76, 35, 104);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.allisNulls > * {
  margin-bottom: 8px;
}

.isNull {
  display: flex;
  flex-direction: row;
}

.isNull > * {
  margin-right: 8px;
}

.allEquals {
  background-color: rgb(31, 125, 168);
  padding: 2px 6px 2px 6px;
  border: 1px solid rgb(151, 226, 10);
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);display: flex;
  flex-direction: column;
}

.allEquals > * {
  margin-bottom: 8px;
}

.equals {
  background-color: rgb(24, 199, 243);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);display: flex;
  flex-direction: row;
}

.equals > * {
  margin-right: 8px;
}

.equal {
  background-color: rgb(6, 133, 165);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
}

.opEQ {
  background-color: rgb(152, 248, 181);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.opEQ::after {
  content: "==";
}

.opHASROOT {
  background-color: rgb(152, 248, 181);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.opHASROOT::after {
  content: "HASROOT";
}

.value {
  background-color: rgb(152, 248, 181);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.wheres {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.wheres > * {
  margin-right: 8px;
}

.boxWhere {
  background-color: rgb(0, 187, 91);
  padding: 8px;
  border: 1px solid darkred;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.boxWhere > * {
  margin-right: 8px;
}

.skip{
  background-color: rgb(40, 105, 245);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
}

.skip > * {
  margin-right: 8px;
}

.first{
  background-color: rgb(131, 15, 199);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
}

.first > * {
  margin-right: 8px;
}

.orders {
  background-color: rgb(233, 125, 36);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.orders > * {
  margin-bottom: 8px;
}

.order {
  background-color: rgb(250, 177, 18);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
}

.order > * {
  margin-right: 8px;
}

.scrollUp {
  display: none;
}

.s {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.buttonForScroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(160, 160, 160);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  color: green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

pre.ParserError {
  font-family: Consolas, "Operator Mono", "Courier New", monospace;
  font-size: 12px;
  color: maroon;
}

.SemiTransparent {
  opacity: 0.5;
  transition: opacity 1.2s;
}
