.SyntaxBoxInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.SyntaxBoxInput > *:first-child {
  flex: 1;
  padding-right: 12px;
}

.SyntaxBoxInput > *:last-child {
  width: 120px;
}

.SyntaxCoombinations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.SyntaxCoombinations > div {
  margin-right: 8px;
  margin-bottom: 8px;
}

.SyntaxCoombinations > div > div:first-child {
  color: white;
  border-radius: 4px;
  border: none;
}

.SyntaxCoombinations > div > div {
  padding-left: 6px;
  padding-bottom: 4px;
  padding-top: 2px;
  padding-right: 6px;
  border-radius: 4px;
  border: 1px solid gray;
  margin-bottom: 2px;
}

.VERBColor {
  background-color: blueviolet;
}

.ADJFColor {
  background-color: brown;
}

.NOUNColor {
  background-color: darkolivegreen;
}

.PREPColor {
  background-color: hotpink;
}

.CONJColor {
  background-color: aqua;
}

.ADVBColor {
  background-color: red;
}

.ACTIVEColor {
  background-color: lightskyblue;
}

.CommandAndGraph svg {
  display: block;
  margin: auto;
  padding-top: 16px;
}

.CommandAndGraph svg rect.outerRect {
  stroke: none;
  fill: gray;
}

.CommandAndGraph svg rect.phrase {
  stroke: none;
  fill: white;
}

.CommandAndGraph svg rect.word {
  stroke: none;
  fill: aquamarine;
}

.CommandAndGraph svg text {
  fill: black;
  font-size: 14px;
}

.CommandAndGraph svg path {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.CommandAndGraph svg marker#arrow path {
  fill: gray;
}

.CommandAndGraph pre {
  text-align: left;
  border: 1px lightgray solid;
}

.CommandAndGraph {
  display: flex;
  flex-direction: row;
}