.SyntaxBoxInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.SyntaxBoxInput > *:first-child {
  flex: 1;
  padding-right: 12px;
}

.SyntaxBoxInput > *:last-child {
  width: 120px;
  margin-left: 4px;
}

.SyntaxTokens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.SyntaxTokens > div {
  display: flex;
  flex-direction: column;
  margin-right: 4px;
  margin-bottom: 4px;
}

.SyntaxTokens > div > div:first-child {
  border: 1px solid gray;
  margin-bottom: 4px;
}

.SyntaxTokens > div > div {
  border: 1px dotted gray;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 2px;
}

.TokenWhiteSpace {
  background-color: aquamarine;
}

.TokenCyrillicWord {
  background-color: darksalmon;
}

.TokenComma {
  background-color: blue;
  color: white;
}

.TokenPunctuationMark {
  background-color: rebeccapurple;
  color: white;
}

.SyntaxCoombinations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.SyntaxCoombinations > div {
  margin-right: 8px;
  margin-bottom: 8px;
}

.SyntaxCoombinations > div > div:first-child {
  color: white;
  border-radius: 4px;
  border: none;
}

.SyntaxCoombinations > div > div {
  padding-left: 6px;
  padding-bottom: 4px;
  padding-top: 2px;
  padding-right: 6px;
  border-radius: 4px;
  border: 1px solid gray;
  margin-bottom: 2px;
}

.SyntaxCoombinations sup > span {
  padding-left: 4px;
}

.VERBColor {
  background-color: blueviolet;
}

.ADJFColor {
  background-color: brown;
}

.NOUNColor {
  background-color: darkolivegreen;
}

.PREPColor {
  background-color: hotpink;
}

.CONJColor {
  background-color: aqua;
}

.ADVBColor {
  background-color: red;
}

.ACTIVEColor {
  background-color: lightskyblue;
}

.CommandAndGraph svg {
  display: block;
  margin: auto;
  padding-top: 16px;
}

.CommandAndGraph svg rect.outerRect {
  stroke: none;
  fill: gray;
}

.CommandAndGraph svg rect.phrase {
  stroke: none;
  fill: white;
}

.CommandAndGraph svg rect.word {
  stroke: none;
  fill: aquamarine;
}

.CommandAndGraph svg text {
  fill: black;
  font-size: 14px;
}

.CommandAndGraph svg path {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.CommandAndGraph svg marker#arrow path {
  fill: gray;
}

.CommandAndGraph pre {
  text-align: left;
  border: 1px lightgray solid;
}

.CommandAndGraph {
  display: flex;
  flex-direction: row;
}

.SyntaxError {
  color: red;
  font-style: italic;
}

.ParserDebug {
  display: flex;
  flex-direction: column;
}

.ParserDebug > div {
  margin-bottom: 8px;
  border: 1px solid gray;
  border-radius: 4px;
}

.ParserDebug > div > div:first-child {
  background-color: silver;
}

.ParserDebug > div > div:nth-child(2) {
  padding-top: 12px;
}

.ParserDebug > div > div {
  padding: 4px;
}

.DebugWordSignatures {
  display: flex;
  flex-direction: row;
}

.DebugWordSignatures > div {
  border: 1px solid dimgray;
  border-radius: 4px;
  padding: 4px;
  margin-right: 8px;
  background-color: lightcoral;
}

.command {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 12px;
}

.command > * {
  margin-right: 8px;
}

.actionSHOW {
  background-color: rgb(152, 248, 181);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.actionSHOW::after {
  content: "SHOW";
}

.actionDELETE {
  background-color: rgb(226, 81, 65);
  padding: 2px 6px 2px 6px;
  border: 1px solid maroon;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.actionDELETE::after {
  content: "DELETE";
}

.commandObject {
  background-color: bisque;
  padding: 8px;
  border: 1px solid coral;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.commandObject > * {
  margin-right: 8px;
}

.entityName {
  background-color: aquamarine;
  padding: 2px 6px 2px 6px;
  border: 1px solid navy;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.condition {
  background-color: darkgoldenrod;
  padding: 8px;
  border: 1px solid darkred;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.condition > * {
  margin-right: 8px;
}

.attr {
  background-color: rgb(152, 248, 181);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.opEQ {
  background-color: rgb(152, 248, 181);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.opEQ::after {
  content: "==";
}

.opHASROOT {
  background-color: rgb(152, 248, 181);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.opHASROOT::after {
  content: "HASROOT";
}

.value {
  background-color: rgb(152, 248, 181);
  padding: 2px 6px 2px 6px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

pre.ParserError {
  font-family: Consolas, "Operator Mono", "Courier New", monospace;
  font-size: 12px;
  color: maroon;
}

.SemiTransparent {
  opacity: 0.5;
  transition: opacity 1.2s;
}