.ViewTabs {
  width: 100%;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ViewTab {
  background-color: white;
  color: #404040;
  min-width: 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ViewTabText {
  flex: 1 0 auto;
  padding: 2px 4px 0px 4px;
  text-align: center;
  min-height: 27px;
}

.ViewActiveColor {
  height: 5px;
  background-image: linear-gradient(lime, white);
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
}

.ViewInactiveShadow {
  height: 6px;
  flex: 0 0 initial;
  justify-self: flex-end;
  background-image: linear-gradient(white, silver);
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  border-bottom: 1px solid #404040;
}

.ViewInactiveTab {
  border-left: 1px solid #404040;
  border-top: 1px solid #404040;
  border-right: 1px solid #404040;
}

.ViewActiveTab {
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
}

.ViewTabSpace {
  min-width: 4px;
  background-color: transparent;
  border-bottom: 1px solid #404040;
  flex: 0 0 initial;
}

.ViewRestSpace {
  background-color: transparent;
  border-bottom: 1px solid #404040;
  flex: 1 1 auto;
  justify-self: flex-end;
}