.NLPWorkArea {
  width: 100vw;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
}

.ContentBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.ContentBox > * {
  padding-top: 8px;
}

.RecordSetViewHidden {
  display: none;
}
