.main-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.top-container {
  height: 100%;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.sql-container {
  display: grid;
  width: 100%;
  height: 100%;
}

.sql-container > div {
  margin: 0px;
}

.ver textarea {
  height: calc(100vh - 140px)
}

.hor {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.ver {
  grid-template-columns: repeat(2, 1fr);
}
