{
  "webpack": {
    "appMountNodeId": "app",
    "buildPath": "/dist"
  },
  "server": {
    "http": {
      "host": "http://localhost",
      "port": 4000
    },
    "paths": {
      "er": "/app/test/er"
    }
  }
}
