.layout {
  height: 100%;
  display: grid;
  grid-template-areas:
    "nav header"
    "nav content"
    "nav footer";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.layout > header,
.header {
  grid-area: header;
}

.layout > nav,
.nav {
  grid-area: nav;
}

.layout > main {
  grid-area: content;
  overflow: auto;
}
.scene-pad {
  padding: calc(var(--spacing-unit) * 4);
}

.layout > footer {
  grid-area: footer;
}

.nav {
  width: 240px;
}
:global .gdmn-nav-item-selected * {
  color: var(--palette-primary-main) !important;
}
.gdmn-nav-item-nested {
  padding-left: calc(var(--spacing-unit) * 4) !important;
}


.breadcrumbs > * {
  display: inline-block !important;
}
.breadcrumbs .btn {
  padding: 8px;
  min-width: auto;
  font-size: inherit;
}

.breadcrumbs i {
  padding-left: 8px;
  padding-right: 8px;
}
