.WorkArea {
  width: 100%;
}

.breadcrumbs > * {
  display: inline-block !important;
}
.breadcrumbs .btn {
  padding: 8px;
  min-width: auto;
  font-size: inherit;
}

.breadcrumbs i {
  padding-left: 8px;
  padding-right: 8px;
}
