.ScrollableDlg {
  width: 100%;
  overflow: auto;
  /*height: 92%;*/
  margin: 1px;
  padding: 4px;
}

.FieldsColumn {
  width: 380px;
  margin: 1px;
  padding: 4px;
}

.commonStyle {
  background-size: 16px 16px;
  margin: 1px;
  border-radius: 4px;
  padding: 4px;
  min-height: 64px;
}
